<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname._2017._10._27_CrossPlatform1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="_2017._10._27_CrossPlatform1.Android"></application>
</manifest>
